@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Libre+Franklin:wght@100&family=Nunito:wght@300&family=Poppins:wght@300&family=Raleway:wght@300&family=Work+Sans&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    background:#f06529;
}

body{
    font-family: 'Poppins', sans-serif;
}

.title {
    font-size: 150px;
    width: 30%;
    text-shadow: 0 0 50px;
    color: white;
    position: absolute;
    left: 37%;
    padding: 1%;
    margin-bottom: 20px;
}

.text-1, .text-2 {
    color: white;
    margin-bottom: 50px;
}

#subtitle-1 {
    position: relative;
    width: 50%;
    top: 250px;
    font-size: 35px;
    text-shadow: 0 0 50px;
    padding: 1%;
    left: 5%;
}

#paragraph-1 {
    font-size: 25px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 10%;
    top: 55%;
    width: 50%;
}

#paragraph-2 {
    font-size: 25px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 10%;
    top: 65%;
    width: 60%;
}

#paragraph-3 {
    font-size: 25px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 10%;
    top: 75%;
    width: 50%;
}

#paragraph-4 {
    font-size: 25px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 10%;
    top: 85%;
    width: 50%;
}

#paragraph-5 {
    font-size: 25px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 10%;
    top: 95%;
    width: 60%;
}

#paragraph-6 {
    font-size: 25px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 10%;
    top: 105%;
    width: 60%;
}

#paragraph-7 {
    font-size: 25px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 10%;
    top: 110%;
    width: 50%;
}

#font-1{
    position: absolute;
    text-shadow: 0 0 30px white;
    left: 10%;
    top: 120%;
    width: 60%;
}

#link {
    color: white;
}

#image-html {
    position: absolute;
    padding: 0;
    margin-bottom: 100px;
    left: 10%;
    top: 130%;
}

#html-subtle {
    font-size: 20px;
    position: absolute;
    width: 25%;
    top: 190%;
    left: 37%;
}

#footer-paragraph {
    background-color: #ff8b59;
    color: white;
    position: absolute;
    padding: 0.3%;
    top: 200%;
    width: 100%;
}
